@model IEnumerable<UnapprovedCommentModel>

<form asp-action="Comments" asp-controller="Admin" method="post" role="form">
    <table class="table">
        <tr>
            <th>Time</th>
            <th>Commenter</th>
            <th>Comment</th>
            <th>Post</th>
            <th>Approve</th>
        </tr>

        @Html.EditorForModel()

    </table>

    <div class="col-md-2 col-md-offset-10">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form>