@{
// ViewBag.Title = "Home Page";
}


<div class="row">
    @Html.Partial("_AdminPartial")
    <div class="col-md-offset-2 col-md-10">
        <h4>Time to manage your account. Click on an item to the left to get started.</h4>
    </div>
</div>
