
<div class="col-md-2 sidebar sidebar-left sidebar-md-show sidebar-animate">
    <ul class="nav nav-stacked">
        <li><a asp-controller="Admin" asp-action="WritePost">Write a Post</a></li>
        <li><a asp-controller="Admin" asp-action="EditPost">Edit a Post</a></li>
        <li><a asp-controller="Admin" asp-action="Comments">Review Comments</a></li>
        <li><a asp-controller="Account" asp-action="Manage">Manage Your Account</a></li>
        <li><a asp-controller="Admin" asp-action="Manage">Manage the Site</a></li>
        <li><a asp-controller="Admin" asp-action="Stats">View Site Stats</a></li>
    </ul>
</div>