
<div id="image-upload-btn" class="btn btn-default" onclick="getFile()">Upload image</div>
<div style="height:0px;width:0px;overflow:hidden;">
    <input type="file" name="file" id="image-upload"/>
</div>
<img id="uploaded-image" alt="Photo" style="width:150px;" />