
<div id="image-upload-btn" class="btn btn-default" onclick="getFile()" style="margin-bottom:15px;">Upload image</div>
<div style="height:0px;width:0px;overflow:hidden;">
    <input type="file" name="file" id="image-upload"/>
</div>
<div class="container">
    <div class="row" id="uploaded-images">
        @if (Model.Images != null)
        {
            @foreach (var image in Model.Images)
            {
                <img src="@image" class="img-thumbnail col-md-1" style="margin-left:5px;margin-right:5px;" />
            }
        }
    </div>
</div>