<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap-sidebar/css/sidebar.css" />
    <link rel="stylesheet" type="text/css" href="~/css/site.min.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">blogophobia</a>
            </div>
            <div class="navbar-collapse collapse">                
                @if (User.Identity.IsAuthenticated)
                {
                    <form asp-controller="Account" asp-action="LogOut" method="post" id="logoutForm" class="navbar-right">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a asp-controller="Admin" asp-action="Index">Welcome, @User.Identity.Name</a></li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log Out</a></li>
                        </ul>
                    </form>
                }         
            </div>
        </div>
    </div>
    <div class="container-fluid">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/js/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap-sidebar/js/sidebar.js"></script>
</body>
</html>
