@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     ViewBag.Title = "Seth Test";
}



<div>
    <h4>This is my page</h4>
    <p>Welcome to my brain!</p>
</div>