@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     ViewBag.Title = "Seth Test";
}


        @if (Model.RecentPosts == null || Model.RecentPosts.Count == 0)
        {
            <h2>Sorry, nothing to display!</h2>
            <p>Why don't you <a asp-controller="Account" asp-action="RegisterFirstTime">Register</a>?</p>
        }
        else
        {
            <div class="container-fluid">
                @foreach (var post in Model.RecentPosts)
                {
                    <div class="row panel panel-default">
                        <div class="col-md-3 panel-body">
                            <h4>@post.Title</h4>
                            <h5>@post.User.GetFullName() on @post.DatePublished</h5>
                        </div>
                        <div class="col-md-8 panel-body">
                            @post.Content
                        </div>
                    </div>
                }
            </div>
        }

